<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6b383aaf03.js" crossorigin="anonymous"></script>
    <style type="text/css">
    /*body{
      background-position: 0px 0px, 10px 10px;
        background-size: 20px 20px;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    }*/
    .cover{
        background     : white;
        padding-top    : 80px;
        padding-bottom : 80px;
      }
      .rules{
        margin     : auto;
        border     : 2px solid black;
        padding    : 10px;
        background : silver;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .rulesinner{
        border     : 2px solid black;
        padding    : 5px;
        background : white;
      }
      .lowerf{
          color:  black;
          margin-bottom: 20px;
          
      }
      .upperf{
        
        padding-top: 30px;
        padding-bottom: 100px;
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: 10px;
        background-image: url('last.jpg');
        background-repeat: no-repeat ;
        background-position: center;
      }
      .special{
        font-weight: 500;
        font-size: 16px;
      }
      .special:hover{
        color: rgb(0,0,153);
      }
      .links{
        font-family: "Lucida Console", "Courier New", monospace;
        color: rgb(26,26, 26);
        font-weight: 400;
        font-size: 15px;
        margin: 1px;
      }
      .letters{
        margin: auto;
        width: 450px;
        border: 2px solid black;
        padding: 10px;
        left: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
        background: white;
      }
      .inner{
        border: 2px solid black;
        padding-top :30px;
        padding-bottom: 30px;
        padding-left: 10px;
      }
    </style>
    <title>Brute Force</title>
</head>
<body >


    <!--nav bar section -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light " style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
   
        <a class="navbar-brand" href="#" style="color: black;"><i class="fas fa-bold" style="font-size:24px;color:orange">rute</i> <i class="fab fa-foursquare" style="font-size:24px;color:blue">orce</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>

              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: red;">Wish List <i class="fa fa-heart" style="color:red"></i><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: grey;">For Sell <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: grey;">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Basic</a>
                <a class="dropdown-item" href="#">Address</a>
                <a class="dropdown-item" href="#">Phone No</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log Out</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: grey;">Notifications <i class="fa fa-bell" ></i><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
            <!-- nav bar ends--> 
 
      <h6 style="
            text-align:  center;
            font-weight: 600;
            color: rgb(0, 102, 255);
            margin-top: 70px;
            ">
              Welcome to go through the experiece of Pre Graduation competitions:
            </h6>
      <h3 style="
            text-align: center;
            font-weight: 700;
            color : rgb(0, 0, 153);
            font-family: Arial, Helvetica, sans-serif;
            
            ">
            Pre Gradutaion Competitions Experiece
        </h3>  
        <hr style="
          border:none;
          height: 20px;
          width: 80%;
          height: 50px;
          margin-top: 0;
          border-bottom: 1px solid rgb(0,0,153);
          box-shadow: 0 20px 20px -20px rgb(0, 0, 153);
          margin: -50px auto 50px; 
          ">


          <!--<div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">Title</span>
          </div>-->
<div class="container">
<div style="padding:50px">
      <h5 style="
            padding: 10px;
            font-weight: 700;
            color : rgb(0, 0, 153);
            font-family: Arial, Helvetica, sans-serif;
            text-align:center;
            ">
            Select any search option:
        </h5>  
<div class="row">
<div class="col-lg-6">

    <form method="POST" action="/preengshowadd">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Exam</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Exam</div>
              </div>
              <input type="text" name="exam" class="form-control" id="inlineFormInputGroup" placeholder="Exam Name" style="min-width:300px">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success mb-2">Submit</button>
          </div>
        </div>
      </form>
</div>

<div class="col-lg-6">
    <form method="POST" action="/preengshowadd">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Year</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Year</div>
              </div>
              <input type="text" name="year" class="form-control" id="inlineFormInputGroup" placeholder="Enter Year " style="min-width:300px">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success mb-2">Submit</button>
          </div>
        </div>
      </form>
</div>
</div>
</div>
</div> <!--container ends-->

<div class="container"><!--container starts-->
  <% if(ans.length != 0){ %>
    <% ans.forEach(function(blog) { %>
      <div class="container"style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                  padding:0px;margin-bottom:50px"> 
          <div style="background-color: rgb(253, 172, 83)">
            <h4 style="padding:8px;color:white">
              <%=blog.title%>
            </h4>
          </div>
          <div>
              <h5 style="
                  font-weight: 400;
                  color : rgb(0, 0, 153);
                  font-family: Arial, Helvetica, sans-serif;
                  padding-left:10px;
                  ">
                 <span style="left:0%"> Exam: <%=blog.exam%>, </span> 
                 <span style="right:0%"> <%=blog.year%> </span> 
              </h5>   
              
              <p style="min-height:200px;padding:10px">
                <%=blog.des%>
              </p>
          </div>
      </div>
  <% }); %>
  <% } else{ %>  
      <h3 style="
            text-align: center;
            font-weight: 700;
            color : rgb(0, 0, 153);
            font-family: Arial, Helvetica, sans-serif;
            
            ">
            Sorry No Result Found 
        </h3>  
  <% } %>
</div> <!--container ends-->



<div class="footer">
  <div class="upperf">

    <div class="letters">
        <div class="inner">
            <h4 style="
                      text-align: center;
                      color: rgb(0, 0, 153);
                      font-weight: 500;
                      font-family: Lucida Console, Courier New, monospace;
                      ">Every News of Book-Ocean</h4>
            <h6 style="margin-bottom: 5px;">Subscribe our Newsletter get latest news about us!!!</h6>

             <form>
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputGroup">Email</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="Enter Email" required style="width: 250px;">
                  </div>
                </div>
  
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                </div>
              </div>
            </form>

        </div>
    </div>

    <div class="row" style="margin-top: 30px">
      <div class="col-xl-6 col-lg-12 " style="margin-bottom: 20px;" >
        <h2 style="color: white ; margin-top: 10px; font-weight: 400;"> <i class="fas fa-bold" style="font-size:40px;color:orange">rute</i> <i class="fab fa-foursquare" style="font-size:40px;color:blue;">orce</i></h2>
        
         <p style="width:80%">Book Ocean is a project for the engineering students, it contains section to sell used stationary, books and share/get review about books, interviews, entrance exams and coachings</p>
         <a href="#">
              <i class="fa fa-facebook-square" 
              style="
                    color: blue;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            
            <a href="#">
              <i class="fa fa-instagram" 
              style="
                    color: red;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="#">
              <i class="fa fa-twitter-square" 
              style="
                    color: rgb(29,161,242);
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="#">
              <i class="fa fa-linkedin" 
              style="
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
      </div>
      <div class="col-xl-2 col-md-4">
        <h5 style="color: rgb(0,0,153);font-weight: 600;">Important Links</h5>
        <ul>
          <li >
            <a class="links" href="#">Home</a>
          </li>
          <li >
            <a class="links" href="#">About Us </a>
          </li>
          <li >
            <a class="links" href="#">Report User</a>
          </li>
          <li >
            <a class="links" href="#">Quick Help</a>
          </li>
          <li >
            <a class="links" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>


       <div class="col-xl-2 col-md-4">
           <h5 style="color: rgb(0,0,153);font-weight: 600;">Basic Links</h5>
            <ul>
              <li >
                  <a class="links" href="#">Login</a>
              </li>

              <li >
                  <a class="links" href="#">Buy Books</a>
              </li>

              <li >
                  <a class="links" href="#">Sell Books</a>
              </li>

              <li >
                  <a class="links" href="#">Add Review</a>
              </li>

              <li >
                  <a class="links" href="#">Famous Novel</a>
              </li>
            </ul>
      </div>


      <div class="col-xl-2 col-md-4">
        <div class="row">
          <div class="col-xl-12" style="padding-right : 2%">
              <h5 style="color: rgb(0,0,153);font-weight: 600;">Contact Us:</h5>

              <h6 style="color:rgb(0,0,0)"><strong>Email:</strong><br><span class="special"> prabhdeol313@gmail.com</span></h6>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-12">
            <h6 style="color: rgb(0,0,153);font-weight: 600;padding-bottom: 10px;">Made by: Prabhdeep Singh</h6>
            <a href="#">
              <i class="fa fa-facebook-square" 
              style="
                    color: blue;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            
            <a href="#">
              <i class="fa fa-instagram" 
              style="
                    color: red;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="#">
              <i class="fa fa-twitter-square" 
              style="
                    color: rgb(29,161,242);
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="#">
              <i class="fa fa-github" 
              style="
                    color: black;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="#">
              <i class="fa fa-linkedin" 
              style="
                    color: rgb(0, 153, 255);
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
          </div>
        </div>
    </div>
  </div>
</div>

  <div class="lowerf">
      <h6 style="
                color:black;
                text-align: center;
                margin-bottom: 5px;
                font-weight: 600;
                ">
        ©2021 All Rights Reserved by <i class="fas fa-bold" style="font-size:20px;color:orange">rute</i> <i class="fab fa-foursquare" style="font-size:20px;color:blue">orce</i>
      </h6>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>




      <!--   script ends -->
</body>
</html>