<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6b383aaf03.js" crossorigin="anonymous"></script>
    <style type="text/css">
    /*body{
      background-position: 0px 0px, 10px 10px;
        background-size: 20px 20px;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    }*/
      .test {
            background-attachment: scroll;
          background-clip :border-box;
          background-color :rgba(0, 0, 0, 0);
          background-image :linear-gradient(-150deg, rgb(34, 34, 34) 15%, rgb(55, 55, 55) 70%, rgb(60, 72, 89) 94%);
          background-origin :padding-box;
          background-position-x: 0%;
          background-position-y :0%;
          background-size: auto;
          border-top-color: rgb(55, 55, 55);
          border-top-style :solid;
          border-top-width: 1px;
          box-sizing :border-box;
          color: rgb(255, 255, 255);
          display: block;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
          font-feature-settings "tnum";
          font-size :14px;
          font-variant-caps :normal ;
          font-variant-east-asian: normal;
          font-variant-ligatures :normal;
          font-variant-numeric: tabular-nums;

          line-height: 21px;
          padding-bottom :100px;
          text-size-adjust: 100%;

          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        

      .skyblue {
        font-size: xx-large;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        line-height: 200px;
        height :200px;
        border-radius: 30px;
        margin-top: 50px ;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);

      }
      .yellow {
        font-size: xx-large;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        line-height: 200px;
        height :200px;
        border-radius: 30px;
        margin-top: 50px ;
        margin-bottom: 10px;
        background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
      }
      .red {
        font-size: xx-large;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        line-height: 200px;
        height :200px;
        border-radius: 30px;
        margin-top: 50px ;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
        }
      .green {
        font-size: xx-large;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        line-height: 200px;
        height :200px;
        border-radius: 30px;
        margin-top: 50px ;
        margin-bottom: 10px;
        background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
      }
      .hrr {
          width: 450px;
          border-top: 1px solid white;
          box-shadow: 0 20px 20px -20px white;
      }
      .hrr2{
          width: 450px;
          border-top: 1px solid black;
          margin-bottom: 50px;
          box-shadow: 0 20px 20px -20px black;
      }
      .hrr3{
          border-bottom: 1px solid grey;
          margin-bottom: 50px;
          margin-top: 0px;
          box-shadow: 0 20px 20px -20px black;
      }
      .h33{
        font-size: 20px;
        font-family: 'Baloo Tammudu 2', cursive;
        font-weight: 100;
      }
      
      .midd{
        padding-top: 30px;
        background-position: 0px 0px, 10px 10px;
        background-size: 20px 20px;
        background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
      }

      .sec1{
        
        text-align: center;
        margin-left: 100px;
      }
      .sec2{
        margin-left:  100px;
      }
      .sec3{
        margin-left: 100px;
      }
      .testing{
          background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
          background-size: 400% 400%;
          animation: gradient 10s ease infinite;
          height :300px;
      }
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      .badara{
        height: 260px;
        margin: 10% ;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top: 4px solid rgb(255, 0, 0);
        padding-left :10%;
        padding-right:10%;
        padding-bottom: 20px;
      }
      .badara:hover {
        box-shadow: 0 4px 8px 0 rgba(255, 0, 0,0.4), 0 6px 20px 0 rgba(255, 0, 0,0.4);
      }
      .badarb{
        height: 260px;
        margin: 10% ;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding-left :10%;
        padding-right:10%;
        padding-bottom: 20px;
        border-top: 4px solid rgb(0, 115, 230);
      }
      .badarb:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 115, 230,0.4), 0 6px 20px 0 rgba(0, 115, 230,0.4);
      }
      .badarc{
          margin: 10% ;
          height : 260px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          border-top:  4px solid rgb(255, 153, 0);
          padding-left :10%;
          padding-right:10%;
          padding-bottom: 20px;

      }
      .badarc:hover {
        box-shadow: 0 4px 8px 0 rgba(255, 153, 0,0.4), 0 6px 20px 0 rgba(255, 153, 0,0.4);
      }
      .badard{
          margin: 10% ;
          height : 260px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          border-top: 4px solid rgb(51, 204, 51);
          padding-left :10%;
          padding-right:10%;
          padding-bottom: 20px;
      }
      .badard:hover {
        box-shadow: 0 4px 8px 0 rgba(51, 204, 51,0.4), 0 6px 20px 0 rgba(51, 204, 51,0.4);
      }
      .authorsection{
          background-color: white;
          padding-top: 50px;
          padding-bottom: 100px;
          padding-left: 20px;
          padding-right: 20px;
      }
      .blogs{
          margin-top: 15px;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 5px;
          border-radius: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          border-top: 4px solid gold;
      }
      .newbooks{
        border-radius: 5px;
        margin-top: 15px;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 5px;
        border-top: 4px solid rgb(204,0,0);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }
      .noncore{
          margin-top: 15px;
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 5px;
          border-radius: 5px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          border-top: 4px solid rgb(0, 102, 0);
      }
      .core{
        border-radius: 5px;
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-top: 4px solid rgb(102, 0, 255);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }
      .famoussection{
          
          background:  cover;
          padding-top: 50px;
          padding-bottom: 100px;
          padding-left: 20px;
          padding-right: 20px;
      }
      .badar2{
        margin-left: 15% ;
        margin-right: 15%;
        margin-bottom: 5%;
        margin-top: 5%;
        border-top-right-radius : 10px;
        border-bottom-right-radius : 10px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }

      .contain{
        padding-left: 50px;
        padding-right: 50px;
      }
      .grida1{
          height: 250px;
          margin-bottom: 30px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          border-bottom: 5px solid yellow;
          
      }
      .grida1:hover{
         box-shadow: 0 2px 8px yellow;
      }
      .grida2{
        height: 250px;
        margin-bottom: 30px;
        border-bottom: 5px solid skyblue;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      .grida2:hover{
         box-shadow: 0 2px 8px skyblue;
      }
      .grida3{
          
          height: 250px;
          margin-bottom: 30px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          border-bottom: 5px solid rgb(255, 77, 77);
      }
      .grida3:hover{
        box-shadow: 0 2px 8px rgb(255, 77, 77);
      }
      .gridb1{
          height: 250px;
          margin-bottom: 30px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom: 5px solid purple;
      }
      .gridb1:hover{
        box-shadow: 0 2px 8px purple;
      }
      .gridb2{
        height: 250px;
        margin-bottom: 30px; 
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom: 5px solid orange;
      }
      .gridb2:hover{
        box-shadow: 0 2px 8px orange;
      }
      .gridb3{
          height: 250px;
          margin-bottom: 30px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          border-bottom: 5px solid lightgreen;
      }
      .gridb3:hover{
        box-shadow: 0 2px 8px lightgreen;
      }
      .breview{
          color : rgb(221, 65, 36);
          height: 200px;
          margin-bottom: 30px;
          border-radius: 20px;
      }
      .creview{
         color : RGB(68, 184, 172);
         height: 200px;
          margin-bottom: 30px;
          border-radius:20px;
      } 
      
      .cat1{
          border-left: 6px solid rgb(255, 0, 0);
      }
      .cat1:hover{
          color: rgb(255, 0, 0);
          box-shadow: 0 2px 8px rgba(255,0,0,1);
      }

      .cat2{
          border-left: 6px solid blue;
      }
      .cat2:hover{
          color: blue;
          box-shadow: 0 2px 8px blue;
      }


      .cat3{
          border-left: 6px solid green;
      }
      .cat3:hover{
          color: green;
          box-shadow: 0 2px 8px green;
      }

      .cat4{
          border-left: 6px solid purple;
      }
      .cat4:hover{
          color: purple;
          box-shadow: 0 2px 8px purple;
      }
      .cat5{
          border-left: 6px solid gold;
      }
      .cat5:hover{
          color: gold;
          box-shadow: 0 2px 8px gold;
      }

      .cat6{
          border-left: 6px solid olive;
      }
      .cat6:hover{
          color: olive;
          box-shadow: 0 2px 8px olive;
      }


      .cat7{
          border-left: 6px solid tomato;
      }
      .cat7:hover{
          color: tomato;
          box-shadow: 0 2px 8px tomato;
      }

      .cat8{
          border-left: 6px solid peru;
      }
      .cat8:hover{
          color: peru;
          box-shadow: 0 2px 8px peru;
      }

      .cat9{
          border-left: 6px solid magenta;
      }
      .cat9:hover{
          color: magenta;
          box-shadow: 0 2px 8px magenta;
      }

      .cat10{
          border-left: 6px solid maroon;
      }
      .cat10:hover{
          color: maroon;
          box-shadow: 0 2px 8px maroon;
      }

      .cat11{
          border-left: 6px solid midnightblue;
      }
      .cat11:hover{
          color: midnightblue;
          box-shadow: 0 2px 8px midnightblue;
      }

      .cat12{
          border-left: 6px solid lightsalmon;
      }
      .cat12:hover{
          color: lightsalmon;
          box-shadow: 0 2px 8px lightsalmon;
      }
      .lowerf{
          color:  black;
          margin-bottom: 20px;
          
      }
      .upperf{
        
        padding-top: 30px;
        padding-bottom: 100px;
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: 10px;
        background-image: url('last.jpg');
        background-repeat: no-repeat ;
        background-position: center;
      }
      .special{
        font-weight: 500;
        font-size: 16px;
      }
      .special:hover{
        color: rgb(0,0,153);
      }
      .links{
        font-family: "Lucida Console", "Courier New", monospace;
        color: rgb(26,26, 26);
        font-weight: 400;
        font-size: 15px;
        margin: 1px;
      }
      .letters{
        margin: auto;
        width: 450px;
        border: 2px solid black;
        padding: 10px;
        left: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
        background: white;
      }
      .inner{
        border: 2px solid black;
        padding-top :30px;
        padding-bottom: 30px;
        padding-left: 10px;
      }
    </style>
    <title>Brute Force</title>
</head>
<body >


    <!--nav bar section -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light " style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
   
        <a class="navbar-brand" href="/logedin" style="color: black;"><i class="fas fa-bold" style="font-size:24px;color:orange">rute</i> <i class="fab fa-foursquare" style="font-size:24px;color:blue">orce</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon"></span>
        </button>

              
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#teste" style="color: grey;">Ent-Exams<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#interview" style="color: grey;">Interview's<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#review" style="color: grey;">Review's <span class="sr-only">(current)</span></a>
            </li>

          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: red;">
                Wish List <i class="fa fa-heart" style="color:red"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="fa fa-book" style="color: red;"></i> Books</a>
                <a class="dropdown-item" href="#"><i class="fas fa-shopping-basket" style="color: red;"></i> Stuff</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:purple;">
                Contributions <i class="fa fa-pen" style="color:purple"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="padding-left:5px">
                <span style="color:rgb(0, 0, 153);font-weight: 500; ">Competitive Exams:</span>
                <a class="btn btn-primary dropdown-item " href="#">Pre Graduation</a>
                <a class="btn btn-primary dropdown-item " href="#">Post Graduation</a>
                <hr>
                <span style="color:rgb(0, 0, 153);font-weight: 500; ">Interview Experience:</span>
                <a class="dropdown-item" href="#">Pre Engineering</a>
                <a class="dropdown-item" href="#">Post Engineering</a>
                <hr>
                <span style="color:rgb(0, 0, 153);font-weight: 500; ">Reviews:</span>
                <a class="dropdown-item" href="#">Coaching Review</a>
                <a class="dropdown-item" href="#">Books Review</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: blue;">
                Profile <i class="fa fa-user" style="color:blue"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile"><i class="fa fa-book"></i> Books for sell</a>
                <a class="dropdown-item" href="#"><i class="fas fa-shopping-basket"></i> Stuff for sell</a>
                <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Log Out</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" style="color: grey;">Notifications <i class="fa fa-bell" ></i><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
            <!-- nav bar ends--> 

<div class="mid">

<div class="test" >

      <div style="text-align: center;">
        <h1 style="text-align: center; color: white ; margin-top: 80px; font-weight: 400;"> <i class="fas fa-bold" style="font-size:50px;color:orange">rute</i> <i class="fab fa-foursquare" style="font-size:50px;color:blue;">orce</i></h1>
        <h3 style="font-size: 20px; font-weight: 300;color:white">Expolre everything , Take necessary one !!!</h3>
        <hr class="hrr">
      </div>

      <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 " style="padding: 20px" >
              <div class="red">
                <a href="/showbook" style="color: white;";>BUY BOOK</a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6" style="padding: 20px">
              <div class="skyblue">
                <a href="/showstuff" style="color: white;";>BUY STUFF</a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 " style="padding: 20px">
              <div class="yellow">
                  <a href="/sellbook" style="color: white;";>SELL BOOK</a>
              </div>
            </div>


            <div class="col-lg-3 col-md-6" style="padding: 20px">
              <div class="green">
                  <a href="/sellstuff" style="color: white;";>SELL STUFF</a>
              </div>
            </div>

          </div>
      </div>
                
</div>
  
<div class="authorsection" id="teste">
  <h6 style="
            text-align:  center;
            font-weight: 600;
            color: rgb(0, 102, 255);
            ">
            Check out or share you experience about the entracne exams for engineering students 
            </h6>
  <h1 style="
            text-align: center;
            font-weight: 700;
            color : rgb(0, 0, 153);
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 50px;
            ">
      Entrance Exam pre and post graduation 
  </h1>
 
  <div class="row" >
    <div class="col-lg-6 " >
        <div class="blogs">
          <i class="fas fa-blog" style="height : 50px;width: 50px; 
                                        margin-left:45%;margin-top: 10px;
                                        margin-bottom: 10px;font-size: 50px;
                                        color:gold"></i>
          <h2 style="color: gold;text-align: center;margin-top: 20px;font-weight: 400;">
            Pre Graduation
          </h2>
          <hr style="
                      border:none;
                      height: 20px;
                      width: 60%;
                      height: 50px;
                      margin-top: 0;
                      border-bottom: 1px solid gold;
                      box-shadow: 0 20px 20px -20px gold;
                      margin: -50px auto 50px; 
                      ">
          <div class="row">
                  <div class="col-sm-6 ">
                    <div class="badara" >
                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102,51,0);
                                    margin-top: 15px;
                                  ">  Write a Blog </h5>
                        Want to write a blog about your new product, Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                             <a href="/preengadd"> 
                                    <button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(255,0,0);
                                            "> Press Me!!</button>
                              </a>              
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="badarb" >

                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102,51,0);
                                    margin-top: 15px;
                                  ">  Find a Blog </h5>
                        Want to find a blog about the just arrived one's Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                          <a href="/preengshow">
                              <button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(0,115,230);
                                            "> Press Me!!</button>
                            </a>
                        </div>

                    </div>
                  </div>
          </div>

      </div>
  </div>
    <div class="col-lg-6 " >
      <div class="newbooks">
          <i class="fas fa-blog" style="height : 50px;width: 50px; 
                                        margin-left:45%;margin-top: 10px;
                                        margin-bottom: 10px;font-size: 50px;
                                        color:red"></i>
          <h2 style="color: rgb(204,0,0);text-align: center;margin-top: 20px;font-weight: 400;">
            Post Graduation
          </h2>
          <hr style="
                      border:none;
                      height: 20px;
                      width: 60%;
                      height: 50px;
                      margin-top: 0;
                      border-bottom: 1px solid rgb(240, 0, 0);
                      box-shadow: 0 20px 20px -20px rgb(240,0,0);
                      margin: -50px auto 50px; 
                      ">
          <div class="row">
                  <div class="col-sm-6 ">
                    <div class="badarc" >

                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102, 153, 153);
                                    margin-top: 15px;
                                  ">Write a blog</h5>
                        Stay ahead of word, Want of read new books Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                            <a href="/postengadd"> 
                                      <button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(255, 153, 0);
                                            "> Press Me!!</button>
                             </a>               
                        </div>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="badard" >
                      
                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102, 153, 153);
                                    margin-top: 15px;
                                  ">Get a blog</h5>
                        Want to give your contribution for new content Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                            <a href="/postengshow">
                              <button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(51, 204, 51);
                                            "> Press Me!!</button>
                            </a>
                        </div>


                    </div>
                  </div>
          </div>
        
      </div>
    </div>


</div>




<div class="authorsection" id="interview">
  <h6 style="
            text-align:  center;
            font-weight: 600;
            color: rgb(0, 102, 255);
            ">
              check out or share your interview experience here :
            </h6>
  <h1 style="
            text-align: center;
            font-weight: 700;
            color : rgb(0, 0, 153);
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 50px;
            ">
      Interview Experience 
  </h1>
 
  <div class="row" >
    <div class="col-lg-6 " >
        <div class="noncore">
          <i class="fas fa-blog" style="height : 50px;width: 50px; 
                                        margin-left:45%;margin-top: 10px;
                                        margin-bottom: 10px;font-size: 50px;
                                        color:rgb(0,102,0)"></i>
          <h2 style="color: rgb(0, 102, 0);text-align: center;margin-top: 20px;font-weight: 400;">
            Non-Core Interviews
          </h2>
          <hr style="
                      border:none;
                      height: 20px;
                      width: 60%;
                      height: 50px;
                      margin-top: 0;
                      border-bottom: 1px solid rgb(0, 102, 0);
                      box-shadow: 0 20px 20px -20px rgb(0, 102, 0);
                      margin: -50px auto 50px; 
                      ">
          <div class="row">
                  <div class="col-sm-6 ">
                    <div class="badara" >
                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102,51,0);
                                    margin-top: 15px;
                                  ">  Write a Blog </h5>
                        Want to write a blog about your new product, Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                              <a href="/noncoreadd"><button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(255,0,0);
                                            "> Press Me!!</button></a>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="badarb" >

                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102,51,0);
                                    margin-top: 15px;
                                  ">  Find a Blog </h5>
                        Want to find a blog about the just arrived one's Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                            <a href="noncoreshow">
                              <button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(0,115,230);
                                            "> Press Me!!</button>
                              </a>
                        </div>

                    </div>
                  </div>
          </div>

      </div>
  </div>
    <div class="col-lg-6 " >
      <div class="core">
          <i class="fas fa-blog" style="height : 50px;width: 50px; 
                                        margin-left:45%;margin-top: 10px;
                                        margin-bottom: 10px;font-size: 50px;
                                        color:rgb(102,0,255)"></i>
          <h2 style="color: rgb(102, 0, 255);text-align: center;margin-top: 20px;font-weight: 400;">
            Core Interviews
          </h2>
          <hr style="
                      border:none;
                      height: 20px;
                      width: 60%;
                      height: 50px;
                      margin-top: 0;
                      border-bottom: 1px solid rgb(102, 0, 255);
                      box-shadow: 0 20px 20px -20px rgb(102, 0, 255);
                      margin: -50px auto 50px; 
                      ">
          <div class="row">
                  <div class="col-sm-6 ">
                    <div class="badarc" >

                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102, 153, 153);
                                    margin-top: 15px;
                                  ">Write a blog</h5>
                        Stay ahead of word, Want of read new books Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                              <a href="/coreadd"><button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(255, 153, 0);
                                            "> Press Me!!</button>
                              </a>
                        </div>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="badard" >
                      
                        <h5 style=" text-align:center;
                                    font-weight: 400;
                                    color : rgb(102, 153, 153);
                                    margin-top: 15px;
                                  ">Get a blog</h5>
                        Want to give your contribution for new content Don't wait just press the button 
                        <div style="margin-bottom: 20px;">
                          <a href="/coreshow">
                              <button class="btn btn-success" 
                                      style="position: relative; 
                                            left:20%;
                                            margin-top: 15px; 
                                            background-color: rgb(51, 204, 51);
                                            "> Press Me!!</button>
                            </a>
                        </div>


                    </div>
                  </div>
          </div>
        
      </div>
    </div>


</div>
</div>



<!-- closing for mid -->
</div>
<div id="review">
      <h6 style="
                text-align:  center;
                font-weight: 600;
                color: rgb(0, 102, 255);
                ">
                  check out or share your reviews about the books and the coaching centers:
                </h6>
      <h1 style="
                text-align: center;
                font-weight: 700;
                color : rgb(0, 0, 153);
                font-family: Arial, Helvetica, sans-serif;
                margin-bottom: 50px;
                ">
         Review's Section
      </h1>
      <div class="contain">

          <div class="row" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin-bottom: 50px;padding-top: 20px;">
                  <div class="col-lg-3 col-md-6 col-sm-6 breview"  >
                      <div>
                          <h1 style="
                                    text-align: center;
                                    font-weight: 500;
                                    
                                    margin-top: 50px;
                                    ">
                            Books
                          </h1>
                          <h1 style="
                                    text-align: center;
                                    font-weight: 500;
                                    
                                    padding-bottom: 50px;
                                    ">
                            Review
                          </h1>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6" >
                      <div class="grida1">
                        <div style="height: 40px;
                                    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
                                   "></div>
                          <h1 style="color:rgb(181, 90, 48);font-size:30px;font-weight: 500;
                                            text-align: center;
                                            ">Post Review</h1>
                          <p style="font-weight: 400;font-size: 18px;color:black;
                                    padding:10px">
                             Here you can share your idea's about any book 
                          </p>
                         <a href="/breviewadd"> <button class="btn btn-primary"  type="button"
                                      style="position: relative; 
                                            left:30%;
                                            margin-top: 5px; 
                                            "> Press Me!!</button>
                          </a>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6" >                    
                      <div class="grida2">
                        <div style="height: 40px;
                                    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
                                   "></div>
                        <h1 style="color:rgb(181, 90, 48);font-size:30px;font-weight: 500;
                                            text-align: center;">Read Review</h1>
                        <p style="font-weight: 400;font-size: 18px;color: black;
                                    padding:10px">
                             Here you can get review about any book 
                        </p>
                        <button class="btn btn-primary" 
                                      style="position: relative; 
                                            left:30%;
                                            margin-top: 5px; 
                                            "> Press Me!!</button>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6" >
                      <div class="grida3">
                        <div style="height: 40px;
                                    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
                                   "></div>
                        <h1 style="color:rgb(181, 90, 48);font-size:30px;font-weight: 500;
                                            text-align: center;">Get Review</h1>
                        <p style="font-weight: 400;font-size: 18px;color: black;
                                    padding:10px">
                             Here you can ask for a review of any book 
                        </p>
                        <a href="/getbr"><button class="btn btn-primary" 
                                      style="position: relative; 
                                            left:30%;
                                            margin-top: 5px; 
                                            "> Press Me!!</button>
                          </a>
                      </div>
                  </div>

          </div><br><br>
          <div class="row" style="box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;margin-bottom: 50px;padding-top: 20px;">
                  <div class="col-lg-3 col-md-6 col-sm-6 creview"  >
                      <div>
                          <h1 style="
                                    text-align: center;
                                    font-weight: 500;
                                   
                                    margin-top: 50px;
                                    ">
                            Coaching
                          </h1>
                          <h1 style="
                                    text-align: center;
                                    font-weight: 500;
                                    
                                    padding-bottom: 50px;
                                    ">
                            Review
                          </h1>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6" >
                      <div class="gridb1">
                        <div style="height: 40px;
                                   background-image: linear-gradient( 135deg, #E2B0FF 10%, #9F44D3 100%);
                                   "></div>
                          <h1 style="color:rgb(181, 90, 48);font-size:30px;font-weight: 500;
                                            text-align: center;
                                            ">Post Review</h1>
                          <p style="font-weight: 400;font-size: 18px;color: black;
                                    padding:10px">
                             Here you can share your idea's about any coaching
                          </p>
                          <a href="/creviewadd"><button class="btn btn-primary" 
                                      style="position: relative; 
                                            left:30%;
                                            margin-top: 5px; 
                                            "> Press Me!!</button>
                          </a>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6" >                    
                      <div class="gridb2">
                        <div style="height: 40px;
                                    background-image: linear-gradient( 135deg, #FEC163 10%, #DE4313 100%);
                                   "></div>
                        <h1 style="color:rgb(181, 90, 48);font-size:30px;font-weight: 500;
                                            text-align: center;">Read Review</h1>
                        <p style="font-weight: 400;font-size: 18px;color: black;
                                    padding:10px">
                             Here you can get review about any coaching
                        </p>
                       <a href="/creviewshow"><button class="btn btn-primary" 
                                      style="position: relative; 
                                            left:30%;
                                            margin-top: 5px; 
                                            "> Press Me!!</button>
                        </a>
                      </div>
                  </div>

                  <div class="col-lg-3 col-md-6 col-sm-6" >
                      <div class="gridb3">
                        <div style="height: 40px;
                                    background-image: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
                                   "></div>
                        <h1 style="color:rgb(181, 90, 48);font-size:30px;font-weight: 500;
                                            text-align: center;">Get Review</h1>
                        <p style="font-weight: 400;font-size: 18px;color: black;
                                    padding:10px">
                             Here you can ask for a review of any coaching
                        </p>
                        <a href="/getcr"><button class="btn btn-primary" 
                                      style="position: relative; 
                                            left:30%;
                                            margin-top: 5px; 
                                            "> Press Me!!</button>
                        </a>
                      </div>
                  </div>

          </div>


      </div>
</div>
</div>
<div  class="famoussection">
            <h6 style="
                text-align:  center;
                font-weight: 600;
                color: rgb(0, 102, 255);
                ">
                find the most searched and recomended catagories below :
            </h6>
            <h1 style="
                      text-align: center;
                      font-weight: 700;
                      color : rgb(0, 0, 153);
                      font-family: Arial, Helvetica, sans-serif;
                      ">
                Popular Catagories 
            </h1>
            <hr style="
                      border:none;
                      height: 20px;
                      width: 60%;
                      height: 50px;
                      margin-top: 0;
                      border-bottom: 1px solid rgb(0,0,153);
                      box-shadow: 0 20px 20px -20px rgb(0, 0, 153);
                      margin: -50px auto 50px; 
                      ">
            <div class="row">
              
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat1" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:rgb(255, 0, 0);font-weight: 500;
                                ">JEE Advance</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat2" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:blue;font-weight: 500;
                                ">Algorithms</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat3" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:green;font-weight: 500;
                                ">GATE</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat4" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:purple;font-weight: 500;
                                ">UPSE</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat5" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:gold;font-weight: 500;
                                ">Maths</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat6" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color: olive;font-weight: 500;
                                ">Physics</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat7" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:tomato;font-weight: 500;
                                ">Jee Mains</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat8" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:peru;font-weight: 500;
                                ">Devlopment</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat9" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color: magenta;font-weight: 500;
                                ">BIT-SAT</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat10" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:maroon;font-weight: 500;
                                ">B.Tech</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat11" >
                    <h5 style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:midnightblue;font-weight: 500;
                                ">M.Tech</h5>
                </div>
              </div>

              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="badar2 cat12" >
                    <h5   style="text-align: center;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                color:lightsalmon;font-weight: 500;
                                ">CAT</h5>
                </div>
              </div>

            </div>

            
</div>



<div class="footer">
  <div class="upperf">

    <div class="letters">
        <div class="inner">
            <h4 style="
                      text-align: center;
                      color: rgb(0, 0, 153);
                      font-weight: 500;
                      font-family: Lucida Console, Courier New, monospace;
                      ">Every News of Book-Ocean</h4>
            <h6 style="margin-bottom: 5px;">Subscribe our Newsletter get latest news about us!!!</h6>

             <form>
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputGroup">Email</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="Enter Email" required style="width: 250px;">
                  </div>
                </div>
  
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                </div>
              </div>
            </form>

        </div>
    </div>

    <div class="row" style="margin-top: 30px">
      <div class="col-xl-6 col-lg-12 " style="margin-bottom: 20px;" >
        <h2 style="color: white ; margin-top: 10px; font-weight: 400;"> <i class="fas fa-bold" style="font-size:40px;color:orange">rute</i> <i class="fab fa-foursquare" style="font-size:40px;color:blue;">orce</i></h2>
        
         <p style="width:80%">Book Ocean is a project for the engineering students, it contains section to sell used stationary, books and share/get review about books, interviews, entrance exams and coachings</p>
         <a href="#">
              <i class="fa fa-facebook-square" 
              style="
                    color: blue;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            
            <a href="#">
              <i class="fa fa-instagram" 
              style="
                    color: red;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="#">
              <i class="fa fa-twitter-square" 
              style="
                    color: rgb(29,161,242);
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="#">
              <i class="fa fa-linkedin" 
              style="
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
      </div>
      <div class="col-xl-2 col-md-4">
        <h5 style="color: rgb(0,0,153);font-weight: 600;">Important Links</h5>
        <ul>
          <li >
            <a class="links" href="#">Home</a>
          </li>
          <li >
            <a class="links" href="#">About Us </a>
          </li>
          <li >
            <a class="links" href="#">Report User</a>
          </li>
          <li >
            <a class="links" href="#">Quick Help</a>
          </li>
          <li >
            <a class="links" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>


       <div class="col-xl-2 col-md-4">
           <h5 style="color: rgb(0,0,153);font-weight: 600;">Basic Links</h5>
            <ul>
              <li >
                  <a class="links" href="#">Login</a>
              </li>

              <li >
                  <a class="links" href="#">Buy Books</a>
              </li>

              <li >
                  <a class="links" href="#">Sell Books</a>
              </li>

              <li >
                  <a class="links" href="#">Add Review</a>
              </li>

              <li >
                  <a class="links" href="#">Famous Novel</a>
              </li>
            </ul>
      </div>


      <div class="col-xl-2 col-md-4">
        <div class="row">
          <div class="col-xl-12" style="padding-right : 2%">
              <h5 style="color: rgb(0,0,153);font-weight: 600;">Contact Us:</h5>

              <h6 style="color:rgb(0,0,0)"><strong>Email:</strong><br><span class="special"> prabhdeol313@gmail.com</span></h6>
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xl-12">
            <h6 style="color: rgb(0,0,153);font-weight: 600;padding-bottom: 10px;">Made by: Prabhdeep Singh</h6>
            <a href="https://www.facebook.com/people/Prabhdeep-Singh/100026293058210/">
              <i class="fa fa-facebook-square" 
              style="
                    color: blue;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            
            <a href="https://www.instagram.com/rj13_to/">
              <i class="fa fa-instagram" 
              style="
                    color: red;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="https://twitter.com/rj13_to">
              <i class="fa fa-twitter-square" 
              style="
                    color: rgb(29,161,242);
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="https://github.com/rj13-to">
              <i class="fa fa-github" 
              style="
                    color: black;
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
            <a href="https://www.linkedin.com/in/prabhdeep-singh-b6b837190/">
              <i class="fa fa-linkedin" 
              style="
                    color: rgb(0, 153, 255);
                    font-size: 30px;
                    margin-left: 3px;
                    margin-right: 3px;
                    "></i></a>
          </div>
        </div>
    </div>
  </div>
</div>

  <div class="lowerf">
      <h6 style="
                color:black;
                text-align: center;
                margin-bottom: 5px;
                font-weight: 600;
                ">
        2021 All Rights Reserved by <i class="fas fa-bold" style="font-size:20px;color:orange">rute</i> <i class="fab fa-foursquare" style="font-size:20px;color:blue">orce</i>
      </h6>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



      <!--   script ends -->
</body>
</html>